<p id=”alert”><%= alert %></p>

<br><br><br>

<center><h1>Login</h1></center>
<%= form_with url: login_path do |form| %>
  <div class=”field”>
    <center><%= form.label :email %></center>
    <center><%= form.text_field :email %></center>
  </div>
  <div class=”field”>
    <center><%= form.label :password %></center>
    <center><%= form.password_field :password %></center>
  </div>
  <center><%= link_to "sign up", signup_path %></center>
  <div class=”actions”>
    <center><%= form.submit "LOGIN", class: "btn btn-primary" %></center>
  </div>
  <center><%= link_to "forgot password?", forgot_path %></center>
<% end %>
<br>
<center><%= link_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %></center>