<p id=”alert”><%= alert %></p>
<center><h1>Login</h1></center>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <center><%= label_tag :email %></center>
    <center><%= text_field_tag :email %></center>
  </div>
  <div class=”field”>
    <center><%= label_tag :password %></center>
    <center><%= password_field_tag :password %></center>
  </div>
  <center><%= link_to "sign up", signup_path %></center>
  <div class=”actions”>
    <center><%= submit_tag "LOGIN", class: "btn btn-primary" %></center>
  </div>
<% end %>