<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;}

.icon-bar {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: black;
 color: white;
 text-align: center;
}

.icon-bar a {
 float: left;
 width: 25%;
 text-align: center;
 padding: 12px 0;
 transition: all 0.3s ease;
 color: white;
 font-size: 36px;
}

</style>
<body>

<div class="icon-bar">
 <%= link_to '', root_path, class: "fa fa-home" %>
 <%= link_to '', save_path, class: "fa fa-envelope" %>
 <%= link_to '', pins_path, class: "fa fa-camera" %>

 <% if current_user %>

 <% if current_user.email == "admin" %>


 <%= link_to '', items_admin_path, class: "fa fa-user" %>

 <% else %>

 <%= link_to '',items_profile_path, class: "fa fa-user" %>
 <%end%>

 <% else %>
 <%= link_to '', items_profile_path, class: "fa fa-user" %>
 <% end %>

</div>

</body>
</html>