 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <div class="shop-items">

              <% if @shopping != nil %>
                <% @shopping.each do |item| %>

                    <div class="shop-item">
                        <span class="shop-item-title"><%= item.title %></span>
                        <%= image_tag item.image, :size => "300x300" %>

                        <div class="shop-item-details">
                            <% if item.list == "t" %>

                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price">+</span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% else %>
                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% end %>

                            <% addedToSavelist = false %>
                            <% Wishlist.all.each do |wish| %>
                                <% if wish.title == item.title %>
                                    <% if current_user%>
                                        <% user = User.find(session[:user_id])%>
                                        <% if user.email == wish.email %>
                                            <% addedToSavelist = true %>
                                        <% end%>
                                    <%else %>
                                        <% if wish.email == nil%>
                                            <% addedToSavelist = true %>
                                        <% end %>
                                    <% end%>

                                <% end%>
                            <% end %>
                            <% if addedToSavelist == false %>
                                <a href="<%=addWish_path(item) %>">
                                <button class="btn btn-primary shop-item-button" type="button"><i class="material-icons">&#xe87d;</i></button>
                                </a>
                            <% else %>
                                <a href="<%=removeItem_path(item) %>">

                                <button class="btn btn-primary shop-item-button" type="button"><i class="material-icons" style="font-size:24px;color:red">favorite</i></button>
                                </a>
                            <% end %>
                        </div>
                    </div>

                <% end %>
              <% end %>
            </div>