<!DOCTYPE html>
<html>

<%= button_to "connect twitter", "auth/twitter", method: :post, class: "btn btn-primary" %>

    <head>
        <title>The Generics Store | Home</title>
        <meta name="description" content="Home page">
        <script src="store.js" async></script>
    </head>

    <body>
        <section class="container content-section">

            <% if @topbanner_item != nil %>
            <div class="shop-items">

                <div class="shop-item">
                    <span class="shop-item-title"><%= @topbanner_item.title %></span>
                    <%= image_tag @topbanner_item.image %>

                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= @topbanner_item.price %></span>
                        <span class="shop-item-price"><%= @topbanner_item.category %></span>

                        <a href="<%= itemAdd_path(@topbanner_item) %>">
                        <button class="btn btn-primary shop-item-button" type="button">Add to save list</button>
                        </a>
                    </div>
                </div>

            </div>

            <% else %>
            <br>
            <h3>No Items Left</h3>
            <br>
            <% end %>
        </section>

        <section class="container content-section">

            <h2>Popular:</h2>
            <div class="shop-items">

                <% @shopping.each do |item| %>

                    <div class="shop-item">
                        <span class="shop-item-title"><%= item.title %></span>
                        <%= image_tag item.image %>

                        <div class="shop-item-details">
                            <% if item.list == "t" %>

                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price">+</span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% else %>
                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% end %>

                            <% if item.list == "f" %>
                            <a href="<%=itemAdd_path(item) %>">
                            <button class="btn btn-primary shop-item-button" type="button">Add to save list</button>
                            </a>
                            <% else %>
                            <a href="<%=itemRemove_path(item) %>">
                            <button class="btn btn-primary shop-item-button" type="button">Remove from save list</button>
                            </a>
                            <% end %>
                        </div>
                    </div>

                <% end %>
            </div>
        </section>
    </body>
    <br><br><br><br><br><br><br>
</html>