<!DOCTYPE html>
<html>

    <head>
        <title>The Generics Store | Home</title>
        <meta name="description" content="Home page">
        <script src="store.js" async></script>
    </head>

    <body>
        <section class="container content-section">

            <% if @topbanner_item != nil %>
            <div class="shop-items">

                <div class="shop-item">
                    <span class="shop-item-title"><%= @topbanner_item.title %></span>
                    <%= image_tag @topbanner_item.image, :size => "500x500"%>

                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= @topbanner_item.price %></span>

                        <span class="shop-item-price"><%= @topbanner_item.category %></span>

                        <% if @topbanner_item.list == "f" %>
                                <a href="<%=addWish_path(@topbanner_item) %>">
                                    <button class="btn btn-primary shop-item-button" type="button">Add to save list</button>
                                </a>
                            <% else %>
                                <a href="<%=itemRemove_path(@topbanner_item) %>">
                                    <button class="btn btn-primary shop-item-button" type="button">Remove from save list</button>
                                </a>
                        <% end %>


                    </div>
                </div>

            </div>

            <% else %>
            <br>
            <h3>No Items Left</h3>
            <br>
            <% end %>
        </section>

        <section class="container content-section">

            <div>
                <%= csrf_meta_tags %>
                <h3>Filters:</h3>
                <form id="filters" method="post" enctype="multipart/form-data" action="/filteredItems" accept-charset="UTF-8">
                    <input type="text" name="test[name]">
                    <input type="submit" value="submit" name="submit">
                </form>
            </div>

            <h2>Popular:</h2>
            <div class="shop-items">

                <% @shopping.each do |item| %>

                    <div class="shop-item">
                        <span class="shop-item-title"><%= item.title %></span>
                        <%= image_tag item.image, :size => "300x300" %>

                        <div class="shop-item-details">
                            <% if item.list == "t" %>

                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price">+</span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% else %>
                                <span class="shop-item-price">$<%= item.price %></span>
                                <span class="shop-item-price"><%= item.category %></span>
                            <% end %>

                            <% if item.list == "f" %>
                            <a href="<%=addWish_path(item) %>">
                            <button class="btn btn-primary shop-item-button" type="button">Add to save list</button>
                            </a>
                            <% else %>
                            <a href="<%=itemRemove_path(item) %>">
                            <button class="btn btn-primary shop-item-button" type="button">Remove from save list</button>
                            </a>
                            <% end %>
                        </div>
                    </div>

                <% end %>
            </div>
        </section>
    </body>
    <br><br><br><br><br><br><br>
</html>