<ul>
  <% @shopping.each do |item| %>


<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <script src="store.js" async></script>
    </head>
    <body>

        <section class="container content-section">

            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title"><%= item.title %></span>
                    <%= image_tag item.image %>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price %></span>
                        <span class="shop-item-price"><%= item.body %></span>
                        <span class="shop-item-price"><%= item.category %></span>
                         <a href="<%=itemAdd_path(item) %>">
                        <button class="btn btn-primary shop-item-button" type="button">+</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>


<% end %>
</ul>