<!DOCTYPE html>
<html>
    <head>
        <title>The Generics Store | Mens</title>
        <meta name="description" content="Mens page">
        <script src="store.js" async></script>
    </head>

    <body>
        <section class="container content-section">

            <div class="shop-items">

                <% @shopping.each do |item| %>

                    <div class="shop-item">
                        <span class="shop-item-title"><%= item.title %></span>
                        <%= image_tag item.image %>

                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price %></span>
                            <span class="shop-item-price"><%= item.category %></span>

                             <% if item.list == "f" %>
<<<<<<< HEAD
                            <a href="<%=itemAdd_path(item) %>">
=======
                            <a href="<%=addWish_path(item) %>">
>>>>>>> main
                            <button class="btn btn-primary shop-item-button" type="button">Add to save list</button>
                            </a>
                            <% else %>
                            <button class="btn btn-primary shop-item-button" type="button">Saved</button>
                            <% end %>
                        </div>
                    </div>


                <% end %>
            </div>
        </section>
    </body>
</html>