<br><br>

<center><h1 class="btn btn-warning">ACCOUNT</h1></center>

<% if current_user %>

<center><h1><%= current_user.name %><h1></center>

<center><h1>Pending orders <%= link_to 'Show bag', bag_path, class: "btn btn-primary" %> </h1> </center>

<center><h1>Edit your details <%= link_to 'Edit Details', edit_user_path(current_user), class: "btn btn-primary" %></h1> </center>

<center><h1>Edit your details <%= link_to 'Save List', save_path, class: "btn btn-primary" %></h1> </center>

<center><%= link_to 'LOGOUT', logout_path, class: "btn btn-danger" %></center>

<% else %>

<h1>YOU ARE NOT LOGGED IN</h1>

<h3> <%= button_to "Login", login_path, method: :get, class: "btn btn-primary" %> </h3>

<h3>OR</h3>

<h3> <%= link_to 'SIGN UP', signup_path, class: "btn btn-primary" %> AND LOGIN</h3> 

<% end %>